@import url('https://fonts.googleapis.com/css?family=Cabin+Condensed|Righteous|Amatic+SC:400,800');
    body{
    background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
    height: 2200px;
    font-family: 'Cabin Condensed', sans-serif;
    } 
    a{
      font-family: 'Cabin Condensed', sans-serif;
      font-size: large;
    }

#div_sec_menu{

    background-color: white;
}

#exp_box{
    background-color:white;
    box-shadow: 8px 8px 8px 8px #4e4b4b;
    padding: 12px 15px;
    margin: 8px 0;
    width: 80%;
}

#past_exp_box{

    width:  80%;
    background-color:white;
    




}

#skill_menu{
padding:20px

}


#one_container{
    width: 60%;
    height:  390px;
    background:white;
    border-radius: 1%;
    padding: 12px 15px;
    font-family: 'Cabin Condensed', sans-serif;
      font-size: large;

}



